@model IEnumerable<dotNetcore_for_selfweb.Models.UserInfoModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.F_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.F_UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.F_UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.F_Psd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.F_Contact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.F_Mail)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.F_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F_UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F_UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F_Psd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F_Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F_Mail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
